Zadanie polega na stworzeniu dwóch widoków.
Widoki powinny być dostępne pod adresami url
wg. wytycznych poniżej:

<ul>
  <li>
    '/' - 
    Strona główna powinna prezentować kafelki
    zawierające avatar i krótkie info. kafelki
    powinny być responsywne i poprawnie wyświetlać
    się na stronie. Każdy z kafelek powinien 
    mieć możliwość przekierowania na detale
    elementu. Dodatkowo należy zaimplementować
    funkcjonalność infinite scroll. Po przescrollowaniu
    do końca listy kafelków powinny zostać załadowane
    nowe kafelki.
  </li>
  <li>
    '/details/:id' - 
    Detale powinny być widokiem na którym
    wyświetlone powinno zostać zdjęcie w dużym
    formacie na środku. Zdjęcie jednak nie powinno
    przekraczać szerokości bądź wysokości strony
    (brak suwaków).
  </li>
</ul>
</br></br>
W celu pozystkania danych możesz skorzystać z <a href="https://thecatapi.com" target="blank">https://thecatapi.com</a>
gdyż jest łatwe w integracji. Możesz również skorzystać z
json-server i stworzyć swoje własne dane jeżeli preferujesz to podejście.
</br></br>
Stack technologiczny:
AngularJS, angular-route, scss, bootstrap
</br></br>
W celach organizacyjnych została przygotowana aplikacja wyposażona
w AngularJS, webpack i webpack-dev-server w której powinieneś 
wykonać zadanie. Do aplikacji możesz dołączać inne dodatkowe biblioteki
i funkcjonalności jeżeli uważasz że będą konieczne.
</br></br>
Zadanie będzie oceniane pod kątem wykonania wszystkich zadań
jak również i pod kątem ogólno pojętych dobrych zasad
programowania. Rodzaj danych nie jest istotny.
</br></br>
Sugerowany layout:</br>
<h3>Home:</h3>
<img style="width:100%;" src="/images/suggested_view2.png"/>
<h3>Detale:</h3>
<img style="width:100%;" src="/images/suggested_view3.png"/>
