Zadanie polega na stworzeniu dwóch widoków.
Widoki powinny być dostępne pod adresami url
wg. wytycznych poniżej:

<table>
  <tr>
    <th>Adres</th>
    <th>Opis</th>
  </tr>
  <tr>
    <td>'/'</td>
    <td>
      Strona główna powinna prezentować kafelki
      zawierające avatar i krótkie info. kafelki
      powinny być responsywne i poprawnie wyświetlać
      się na stronie. Każdy z kafelek powinien 
      mieć przycisk przekierowujący na detale
      elementu. Dodatkowo należy zaimplementować
      funkcjonalność infinite scroll. Po przescrollowaniu
      do końca listy kafelków powinny zostać załadowane
      nowe kafelki.
    </td>
  </tr>
  <tr>
    <td>'/details/:id'</td>
    <td>
      Detale powinny być widokiem na którym
      wyświetlone powinno zostać zdjęcie w dużym
      formacie na środku. Zdjęcie jednak nie powinno
      przekraczać szerokości bądź wysokości strony
      (brak suwaków).
    </td>
  </tr>
</table>

W celu pozystkania danych możesz skorzystać z https://thecatapi.com/
gdyż jest łatwe w integracji. Możesz również skorzystać z
json-server i stworzyć swoje własne.

Stack technologiczny:
AngularJS, angular-route, scss, bootstrap

W celach organizacyjnych została przygotowana aplikacja wyposażona
w AngularJS, webpack i webpack-dev-server w której powinieneś 
wykonać zadanie.